* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: midnightblue;
  height: 100vh;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

header {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70vw;
}

form,
label {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: 400;
  padding: 6px;
  border-bottom-width: 2px;
}

.header {
  margin-bottom: 20px;
}

.content {
  margin: 20px 0;
}

label,
input,
button {
  margin: 2px 0;
}

input,
button {
  background-color: beige;
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: 400;
  padding: 0 4px;
  color: midnightblue;
  outline: none;
  border: none;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.paragraph {
  line-height: 33px;
}

.back,
.logout {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px;
  margin: 0 3px;
  border-radius: 5px;
}

.back {
  background-color: beige;
  color: midnightblue;
}

.logout {
  background-color: midnightblue;
  color: white;
}

.center {
  text-align: center;
}

.top-table {
  border-top: solid 2px beige;
}

ul {
  border-top: solid 2px beige;
}

li {
  border-bottom: solid 2px beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: beige;
  color: black;
  cursor: pointer;
}

.submit {
  margin: 5% 0;
  background-color: midnightblue;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.instruments-table {
  width: 100%;
}

.table-row {
  cursor: pointer;
  line-height: 33px;
  border-bottom: solid 2px beige;
  cursor: pointer;
  /* border-bottom: 1px solid #ddd; */
}

.table-row:hover {
  background-color: beige;
  color: black;
}
